Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Map/Menu.umap
Content/VehicleBP/Maps/VehicleExampleMap.umap
Config/DefaultInput.ini